<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered " role="document">

        <!--Content-->
    <div class="modal-content card card-image" style="background-image: url('../../assets/image/image12.jpg');">

      <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">

         <!--Header-->
      <div class="text-center pb-4">

          <button type="button" class="close white-text " data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

        <h3 class="modal-title w-100 white-text font-weight-bold" id="exampleModalLabel"><strong>LOG</strong>
        <a class="green-text font-weight-bold"><strong> IN</strong></a></h3>
        </div>
       <!--Body-->
      <div class="form-group">
        <label for="email-id" class="col-form-label">Email-id</label>
        <input type="text" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="password-name" class="col-form-label">Password</label>
        <input type="text" class="form-control" id="password">
      </div>
       <div class="text-center mb-3 col-md-12">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-secondary">Log In</button>
      </div>
     </div>
   </div>
  </div>
</div>
<p>login works!</p>
